<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    {{#if active.Welcome}}
    <link rel="stylesheet" href="/stylesheets/welcomePage.css">
    {{/if}}
    {{#if active.Game}}
    <link rel="stylesheet" href="/stylesheets/gameroom.css">
    <link rel="stylesheet" href="/stylesheets/chessboard-0.3.0.css">
    {{/if}}
    {{#if active.Lobby}}
    <link rel="stylesheet" href="/stylesheets/lobby.css">
    {{/if}}
    {{#if active.Profile}}
    <link rel="stylesheet" href="/stylesheets/profile.css">
    {{/if}}
    {{#if active.Register}}
    <link rel="stylesheet" href="/stylesheets/register.css">
    {{/if}}

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/js/chess.min.js"></script>
    <script type="text/javascript" src="/js/chessboard-0.3.0.js"></script>
    <script type="text/javascript" src="/js/chessboard-0.3.0.min.js"></script>
    <script type="text/javascript" src="/js/chess.js"></script>
    <script type="text/javascript" src="/js/three.min.js"></script>
    <script type="text/javascript" src="/js/helvetiker_regular.typeface.js"></script>
    <script type="text/javascript" src="/js/OrbitControls.js"></script>
    <script type="text/javascript" src="/js/chessboard3.min.js"></script>
    <script type="text/javascript" src="/js/chessboard3.js"></script>
    <script type="text/javascript" src="/js/chessboardjs-themes.js"></script>
</head>

<body style="background-color:rgb(56, 52, 52);">
    <!-- nav bar-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">TEAM 10 CHESS</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="{{#if active.Lobby}}active{{/if}}"><a href="/lobby">Lobby</a></li>
                    <li class="{{#if active.HowToPlay}}active{{/if}}"><a href="/howToPlay">How to Play</a></li>
                    <li class="{{#if active.About}}active{{/if}}"><a href="/about">About</a></li>
                </ul>
                {{#if currUser}}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{currUser}}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                            <li><a href="/users/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                        </ul>
                    </li>
                </ul>
                {{/if}}
            </div>
        </div>
    </nav>
    <div class="footer-pushdown">
        <div class="container">
            {{{body}}}
        </div>
    </div>
    <!-- footer -->
    <footer class="footer container-fluid text-center">
        <p>
            <a href="/lobby" style="color:lightgrey">Lobby</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            <a href="/howToPlay" style="color:lightgrey">How to Play</a>&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/about" style="color:lightgrey">About</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            Copyright © 2019 Team 10 Chess Inc. All rights reserved.
        </p>
    </footer>

    <script>
        var currUser = "{{currUser}}";
    </script>

    {{#if active.Lobby}}
    <script src="/js/main.js"></script>
    {{/if}}

    {{#if active.Game}}
    <script>
        var gameID = "{{gameID}}";
    </script>
    <script src="/js/game.js"></script>
    {{/if}}

    {{#if active.Profile}}
    <script src="/js/profile.js"></script>
    {{/if}}
</body>

</html>