<!-- banner for title of the page -->
<div class="banner">
  <h1 class="bannerHeader">Lobby</h1>
</div>
<br>

<!-- text to explain how the lobby page works -->
<h5 class="text" style="color:white">
  Welcome to the Team 10 Chess Lobby. Here you can join a chess game or create
  your own.
  To join a game, select the player's game you'd like to join and click on "Join". To create your own game,
  click on the
  "Create Game" button.
</h5>
<br>

<!-- Current games and available games -->
<div class="row">
  <div class="col-md-4">
    <div class="well lobbyWells well-sm">
      <h3 class="text-center">Current Games</h3>
      <div class="gamesWell">
        <table class="table table-fixed">
          <thead>
            <tr>
              <th class="col-xs-3">Opponent</th>
              <th class="col-xs-3">Time</th>
              <th class="col-xs-3">Move</th>
              <th class="col-xs-3"></th>
            </tr>
          </thead>
          <tbody id="currGamesScroll">
            {{#each currGames}}
            <tr>
              <td class="col-xs-3">{{this.oppName}} {{#if this.oppActive}}<span class="dot"></span>{{/if}}</td>
              <td class="col-xs-3">{{this.moveTime}}</td>
              <td class="col-xs-3">{{this.move}}</td>
              <td class="col-xs-3"><a type="button" href="/game/{{this.gameId}}"
                  class="btn pull-right btn-success btn-xs">Rejoin</a></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <!-- Available games -->
      <h3 class="text-center">Available Games</h3>
      <div class="panel-group">
        <div class="gamesWell">
          <table class="table table-fixed">
            <thead>
              <tr>
                <th class="col-xs-3">Host</th>
                <th class="col-xs-3">Time</th>
                <th class="col-xs-3"></th>
                <th class="col-xs-3"></th>
              </tr>
            </thead>
            <tbody id="availGamesScroll">
              {{#each availGames}}
              <tr id="{{this.gameId}}">
                <td class="col-xs-3">{{this.player1}}</td>
                <td class="col-xs-3">{{this.moveTime}}</td>
                <td class="col-xs-2"></td>
                <td class="col-xs-4">
                  <a type="button" href="/game/{{this.gameId}}" class="btn pull-right btn-success btn-xs"
                    id="{{this.gameId}}">Join</a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>

      <!-- Button to Open Create game modal -->
      <button type="button" class="btn btn-sm btn-primary" data-keyboard="false" data-backdrop="static"
        data-toggle="modal" data-target="#myModal">Create
        Game</button>

      <!-- Create game Modal -->
      <div class="modal" id="myModal">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">

            <!-- Create game Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Create New Game</h4>
            </div>
            <!-- Create game Modal body -->
            <div class="modal-body">
              Select time per move
              <select id="moveTimeLimit" required>
                <option value="">Select one</option>
                <option value="1">1 min</option>
                <option value="2">2 min</option>
                <option value="3">3 min</option>
                <option value="5">5 min</option>
                <option value="10">10 min</option>
                <option value="20">20 min</option>
                <option value="1440">1 day</option>
                <option value="4320">3 days</option>
                <option value="7200">5 days</option>
              </select>
            </div>

            <!-- Create game Modal footer -->
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary pull-left" id="new">Create Game</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Leader Board -->
  <div class="col-md-5">
    <div class="lobbyWells well well-sm">
      <h3 class="text-center">Leaderboard</h3>
      <div class="lbTop10Well">
        <table class="table table-fixed">
          <thead>
            <tr>
              <th class="col-xs-2">Rank</th>
              <th class="col-xs-4">Player</th>
              <th class="col-xs-2">Rating</th>
              <th class="col-xs-2">Wins</th>
              <th class="col-xs-2">Losses</th>
            </tr>
          </thead>
          <tbody>
            {{#each lbTop10}}
            <tr>
              <td class="col-xs-2">{{this.rank}}</td>
              <td class="col-xs-4">{{this.userName}}</td>
              <td class="col-xs-2">{{this.rating}}</td>
              <td class="col-xs-2">{{this.winCount}}</td>
              <td class="col-xs-2">{{this.loseCount}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <br>

      <!-- Button to Open the Leader Board Modal -->
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal-2">See Full
        Leaderboard</button>

      <!-- Leader Board Modal -->
      <div class="modal" id="myModal-2">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Leader Board Modal Header -->
              <h3 class="lb-modal">Leaderboard</h3>
              
            <!-- Leader Board Modal body, the tbody will scroll -->
            <div class="modal-body lb-body">
              <div class="panel-group">
                <div class= "well">
                <table class="table table-fixed">
                  <thead>
                    <tr>
                      <th class="col-xs-2">Rank</th>
                      <th class="col-xs-2">Player</th>
                      <th class="col-xs-2">Rating</th>
                      <th class="col-xs-2">Wins</th>
                      <th class="col-xs-2">Losses</th>
                      <th class="col-xs-2">Draws</th>
                    </tr>
                  </thead>
                  <tbody id="lbAllScroll">
                    {{#each lbAll}}
                    <tr>
                      <td class="col-xs-2">{{this.rank}}</td>
                      <td class="col-xs-2">{{this.userName}}</td>
                      <td class="col-xs-2">{{this.rating}}</td>
                      <td class="col-xs-2">{{this.winCount}}</td>
                      <td class="col-xs-2">{{this.loseCount}}</td>
                      <td class="col-xs-2">{{this.drawCount}}</td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>

              <!-- Leader Board Modal footer -->
         
                <button type="button" class="btn pull-right btn-danger" data-dismiss="modal">Close</button>
            
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- chat -->
  <div class="col-md-3 center-text">
    <div class="lobbyWells well well-sm">
      <h3 class="text-center">Chat</h3>
      <div class="well lobbyChatScroll" id="messagesList">
        <ul class="thin" id="messages"></ul>
      </div>
      <form id="submit-msg">
        <input id="m" autocomplete="off"></input> <button type="submit"
          class="btn btn-success pull-right btn-xs">Send</button>
      </form>
      <div id="players-online">
      </div>
    </div>
  </div>