<!-- banner for title of the page -->
<div class="topSpace"></div>
<div class="banner">
  <h1 class="bannerHeader">TEAM 10 CHESS</h1>
</div>
<br>

<!-- text to explain how the lobby page works -->
<h5 class="text" style="color:white">
  Welcome to the Team 10 Chess Lobby. Here you can join a chess game or create
  your own.
  To join a game, select the player's game you'd like to join and click on "Join Game". To create your own game,
  click on the
  "Create Game" button.
</h5>
<br>

<div class="row">
  <div class="col-md-4">
    <div class="well lobbyWells well-sm">
      <h3 class="text-center">Current Games</h3>
      <div class="gamesWell">
        <table class="table table-fixed">
          <thead>
            <tr>
              <th class="col-xs-4">Opponent</th>
              <th class="col-xs-2">Time</th>
              <th class="col-xs-2">Move</th>
              <th class="col-xs-4"></th>
            </tr>
          </thead>
          <tbody id="gamesScroll">
            {{#each currGames}}
            <tr>
              <td class="col-xs-4">{{this.oppName}} {{#if this.oppActive}}<span class="dot"></span>{{/if}}</td>
              <td class="col-xs-2">1 day</td>
              <td class="col-xs-2">{{this.move}}</td>
              <td class="col-xs-4"><a type="button" href="/game/{{this.gameId}}" class="btn btn-success btn-xs">Rejoin
                  Game</a></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

      <h3 class="text-center">Available Games</h3>
      <div class="panel-group">
        <div class="gamesWell">
          <table class="table table-fixed">
            <thead>
              <tr>
                <th class="col-xs-4">Host</th>
                <th class="col-xs-2">Time</th>
                <th class="col-xs-2">Rank</th>
                <th class="col-xs-4"></th>
              </tr>
            </thead>
            <tbody id="gamesScroll">
              {{#each availGames}}
              <tr>
                <td class="col-xs-4">{{this.player1}}</td>
                <td class="col-xs-2">1 day</td>
                <td class="col-xs-2">100th</td>
                <td class="col-xs-4"><a type="button" href="/game/{{this.gameId}}" class="btn btn-success btn-xs">Join
                    Game</a></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>

      <!-- Button to Open the Modal -->
      <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal">Create
        Game</button>

      <!-- The Modal -->
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Create New Game</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              Select time per move
              <select class="browser-default custom-select">
                <option selected>Select one</option>
                <option value="1">1 min</option>
                <option value="2">3 min</option>
                <option value="3">5 min</option>
                <option value="4">1 day</option>
                <option value="5">3 days</option>
              </select>
              <div class="radio">
                <p>Timed Game</p>
                <label><input type="radio" name="optradio" checked>Yes</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="optradio">No</label>
              </div>
              Select time per game
              <select class="browser-default custom-select">
                <option selected>Select one</option>
                <option value="1">10 min</option>
                <option value="2">20 min</option>
                <option value="3">1 hour</option>
              </select>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" id="new">Create Game</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="lobbyWells well well-sm">
      <h3 class="text-center">Leaderboard</h3>
      <div class="lbTop10Well">
        <table class="table table-fixed">
          <thead>
            <tr>
              <th class="col-xs-2">Rank</th>
              <th class="col-xs-4">Player</th>
              <th class="col-xs-2">Wins</th>
              <th class="col-xs-2">Losses</th>
              <th class="col-xs-2">Draws</th>
            </tr>
          </thead>
          <tbody>
            {{#each lbTop10}}
            <tr>
              <td class="col-xs-2">{{this.rank}}</td>
              <td class="col-xs-4">{{this.userName}}</td>
              <td class="col-xs-2">{{this.winCount}}</td>
              <td class="col-xs-2">{{this.loseCount}}</td>
              <td class="col-xs-2">{{this.drawCount}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <br>

      <!-- Button to Open the Modal -->
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal-2">See Full
        Leaderboard</button>

      <!-- The Modal -->
      <div class="modal" id="myModal-2">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h3 class="text-center">Leaderboard</h3>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <div class="panel-group">
                <div class="steveWell">
                  <table class="table table-fixed">
                    <thead>
                      <tr>
                        <th class="col-xs-2">Rank</th>
                        <th class="col-xs-4">Player</th>
                        <th class="col-xs-2">Wins</th>
                        <th class="col-xs-2">Losses</th>
                        <th class="col-xs-2">Draws</th>
                      </tr>
                    </thead>
                    <tbody id="lbAllScroll">
                      {{#each lbAll}}
                      <tr>
                        <td class="col-xs-2">{{this.rank}}</td>
                        <td class="col-xs-4">{{this.userName}}</td>
                        <td class="col-xs-2">{{this.winCount}}</td>
                        <td class="col-xs-2">{{this.loseCount}}</td>
                        <td class="col-xs-2">{{this.drawCount}}</td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 center-text">
    <div class="lobbyWells well well-sm">
      <h3 class="text-center">Online Chat</h3>
      <div class="well lobbyChatScroll" id="messagesList">

        <ul class="thin" id="messages"></ul>
      </div>
      <form id="submit-msg" action="">
        <input id="m" autocomplete="off"></input> <button type="submit" class="btn btn-success btn-xs">Send</button>
      </form>
      <div id="users-connected">
        </p>
      </div>
    </div>
  </div>